<h1 class="title">{{"global.title.add" | translate: {"item": "PRODUCT"} }}</h1>
<form *ngIf="productForm"
    [formGroup]="productForm"
    class="product-form"
    (ngSubmit)="onSubmit()">
    <div>
        <label appRequiredField>{{"product_form.name" | translate}}</label>
        <input class="form-control" 
            type="text"
            name="name"
            formControlName="name"
            autofocus/>
    </div>
    <div>
        <label appRequiredField>{{"product_form.price" | translate}}</label>
        <input class="form-control"
            type="number"
            name="price"
            formControlName="price"
            appCurrencyTransform
            [activeProduct]="product" />
    </div>
    <div>
        <label>{{"product_form.image" | translate}}</label>
        <input class="form-control"
            type="hidden"
            name="image_url"
            formControlName="image_url" />
        <input class="form-control"
            type="file"
            id="imageHolder"
            (change)="onFileSelected($event)"
            style="display: none" 
            #fileInput/>
        <div style="display: flex;">
            <label for="imageHolder"
                for="imageHolder"
                class="btn btn-primary">{{"button.choose_image" | translate}}</label>
            <button class="btn btn-danger"
                type="button"
                *ngIf="uploadFile && previewFileUrl"
                (click)="clearImage()">{{"button.remove_image" | translate}}</button>
        </div>
        <div>
            <img [src]="previewFileUrl"
                width="300px"
                height="300px" />
        </div>
    </div>
    <div>
        <input type="checkbox"
            formControlName="is_discount_available" />
        <label for="is_discount_available">{{"product_form.is_discount_available" | translate}}</label>
    </div>
    <button class="btn btn-primary"
        *ngIf="product?.is_active && currentOperatorRole !=='CLIENT'"
        type="submit">{{"button.add" | translate}}</button>
</form>