<h1 id="title">LOGIN</h1>
<form #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)">
    <div>
        <label for="email" appRequiredField>Email</label>
        <input class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="email@domain.com"
            [(ngModel)]="loginUser.email"
            #email="ngModel"
            maxlength="20"
            appEmailValidate
            required 
            appFisrtFieldAutoFocus/>
    </div>
    <div>
        <label for="password" appRequiredField>Password</label>
        <input class="form-control"
            type="password"
            id="password"
            name="password"
            placeholder="password"
            [(ngModel)]="loginUser.password"
            #password="ngModel"
            required />
    </div>
    <button class="btn btn-primary"
        type="submit">Login</button>
</form>