#title{
    text-align: center;
    margin-top: 200px;
}

form{
    width: 300px;
    margin: auto;

    label{
        margin-right: 10px;
    }

    button{
        width: 100%;
    }
}

.warn-message{
    color: red;
}

