<h1 id="title">LOGIN</h1>
<form #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)">
    <div>
        <label appRequiredField>{{"member_form.email" | translate}}</label>
        <input class="form-control"
            type="email"
            name="email"
            placeholder="email@domain.com"
            [(ngModel)]="loginUser.email"
            #email="ngModel"
            maxlength="20"
            appEmailValidate
            required 
            autofocus/>
    </div>
    <div>
        <label appRequiredField>{{"member_form.password" | translate}}</label>
        <input class="form-control"
            type="password"
            name="password"
            placeholder="password"
            [(ngModel)]="loginUser.password"
            #password="ngModel"
            required />
    </div>
    <button class="btn btn-primary"
        type="submit">{{"button.login" | translate}}</button>
</form>