<nav>
    <ul class="header">
        <div class="item-home">
            <li>
                <label><a routerLink="/home">HOME PAGE</a></label>
            </li>
        </div>

        <div class="item-others">
            <li *ngIf="accessToken && memberRole !== 'CLIENT'">
                <label><a routerLink="/member/management">MEMBER MANAGEMENT</a></label>
            </li>
            <li *ngIf="!accessToken">
                <label><a routerLink="/login">LOGIN</a></label>
            </li>
            <li *ngIf="accessToken">
                <label><a routerLink (click)="logout()">LOGOUT</a></label>
            </li>
            <li *ngIf="!accessToken">
                <label><a routerLink="/register">REGISTER</a></label>
            </li>
        </div>
    </ul>
</nav>