<nav>
    <ul class="header">
        <span class="menu menu-left">
            <li>
                <label><a routerLink="/home"
                        routerLinkActive="active">{{"header.home_page" | translate}}</a></label>
            </li>
            <li *ngIf="accessToken && memberRole !== 'CLIENT'">
                <label><a routerLink="/member/management"
                        routerLinkActive="active">{{"header.member_management" | translate}}</a></label>
            </li>
            <li *ngIf="accessToken">
                <label><a routerLink="/product/management"
                        routerLinkActive="active">{{"header.product_management" | translate}}</a></label>
            </li>
        </span>

        <span class="menu menu-right">
            <li *ngIf="!accessToken">
                <label><a routerLink="/login"
                        routerLinkActive="active">{{"header.login" | translate}}</a></label>
            </li>
            <li *ngIf="accessToken">
                <label><a routerLink
                        (click)="logout()">{{"header.logout" | translate}}</a></label>
            </li>
            <li *ngIf="!accessToken">
                <label><a routerLink="/register"
                        routerLinkActive="active">{{"header.register" | translate}}</a></label>
            </li>
        </span>
    </ul>
</nav>