<form *ngIf="memberForm && inputMember"
    [formGroup]="memberForm"
    (ngSubmit)="onSubmit()"
    class="member-form">
    <div>
        <input id="id"
            formControlName="id"
            class="form-control"
            type="hidden" />
    </div>
    <div>
        <label for="name">Name</label><label class="warn-message"
            *ngIf="(!memberForm.get('name')?.value || memberForm.get('name')?.invalid) && memberForm.get('name')?.touched ">Name
            is invalid</label>
        <input id="name"
            formControlName="name"
            class="form-control"
            type="text" />
    </div>
    <div>
        <label for="gender">Gender</label>
        <select id="gender"
            formControlName="gender"
            class="form-control">
            <option value="null"
                hidden
                selected></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div>
        <label for="age">Age</label><label class="warn-message"
            *ngIf="(memberForm.get('age')?.hasError('outRangeAge') || memberForm.get('age')?.invalid) && memberForm.get('age')?.touched ">Input
            age between
            {{minAge}}-{{maxAge}}</label>
        <input id="age"
            formControlName="age"
            class="form-control"
            type="number" />
    </div>
    <div>
        <label for="tel">Tel</label><label class="warn-message"
            *ngIf="(memberForm.get('tel')?.hasError('invalidTel') || memberForm.get('tel')?.invalid) && memberForm.get('tel')?.touched ">Tel
            is
            invalid</label>
        <input id="tel"
            formControlName="tel"
            class="form-control"
            type="tel" />
    </div>
    <div>
        <label for="role">Role</label>
        <select name="role"
            id="role"
            class="form-control"
            formControlName="role">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
            <option value="CLIENT">CLIENT</option>
        </select>
    </div>
    <div class="action" *ngIf="currentOperatorRole ==='ADMIN'">
        <select class="form-select" formControlName="action">
            <option value="UPDATE" >Update</option>
            <option value="DELETE">Delete</option>
        </select>
        <button [ngClass]="memberForm.get('action')?.value == 'UPDATE'? 'btn btn-primary' : 'btn btn-danger'" [disabled]="disableAction()">Action</button>
    </div>

</form>
<div *ngIf="!memberForm || !inputMember"
    class="choose-one-title">
    <h1>Chon mot member</h1>
</div>