<form *ngIf="memberForm && inputMember"
    [formGroup]="memberForm"
    class="member-form">
    <div>
        <input id="id"
            formControlName="id"
            class="form-control"
            type="hidden" />
    </div>
    <div>
        <label for="name" appRequiredField>{{"member_form.name" | translate}}</label>
        <input id="name"
            formControlName="name"
            class="form-control"
            type="text"
            appFisrtFieldAutoFocus
            [object]="inputMember()?.id" />
    </div>
    <div>
        <label for="gender">{{"member_form.gender" | translate}}</label>
        <input id="genderMale"
            type="radio"
            formControlName="gender"
            value="Male" /><label for="genderMale">{{"member_form.detail_gender.male" | translate}}</label>
        <input id="genderFemale"
            type="radio"
            formControlName="gender"
            value="Female" /><label for="genderFemale">{{"member_form.detail_gender.female" | translate}}</label>
    </div>
    <div>
        <label for="age" appRequiredField>{{"member_form.age" | translate}}</label>
        <input id="age"
            formControlName="age"
            class="form-control"
            type="number" />
    </div>
    <div>
        <label for="tel">{{"member_form.tel" | translate}}</label>
        <input id="tel"
            formControlName="tel"
            class="form-control"
            type="tel" />
    </div>
    <div>
        <label for="role">{{"member_form.role" | translate}}</label>
        <select name="role"
            id="role"
            class="form-control"
            formControlName="role">
            <option value="ADMIN">{{"member_form.detail_role.admin" | translate}}</option>
            <option value="USER">{{"member_form.detail_role.user" | translate}}</option>
            <option value="CLIENT">{{"member_form.detail_role.client" | translate}}</option>
        </select>
    </div>
    <div>
        <label for="avatar_image_url">{{"member_form.avatar" | translate}}</label>
        <input class="form-control"
            type="text"
            name="avatar_image_url"
            id="avatar_image_url"
            formControlName="avatar_image_url" 
            (change)="onFileSelected($event)"/>
        <div>
            <img [src]="previewFileUrl"
                width="300px"
                height="300px" />
        </div>
    </div>
    <div class="action dropdown"
        *ngIf="currentOperatorRole !== 'CLIENT'">
        <button class="btn btn-primary"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{"button.action" | translate}}
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item text-primary"
                    (click)="update()">
                    {{"button.update" | translate}}
                </a>
            </li>
            <li>
                <a class="dropdown-item text-danger"
                    (click)="delete()">
                    {{"button.delete" | translate}}
                </a>
            </li>
        </ul>
    </div>

</form>
<div *ngIf="!memberForm || !inputMember"
    class="choose-one-title">
    <h1>Chon mot member</h1>
</div>