<div class="member-management">
    <table class="table">
        <thead>
            <th>name</th>
            <th>gender</th>
            <th>age</th>
            <th>tel</th>
            <th>email</th>
            <th *ngIf="loggedMemberRole === 'ADMIN'">role</th>
            <th *ngIf="loggedMemberRole === 'ADMIN'">operation</th>
        </thead>
        <tbody>
            <tr *ngFor="let member of allMembers">
                <td>{{ member.name }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.age }}</td>
                <td>{{ member.tel }}</td>
                <td>{{ member.email }}</td>
                <td *ngIf="loggedMemberRole === 'ADMIN'">{{ member.role }}</td>
                <td *ngIf="loggedMemberRole === 'ADMIN'">
                    <button class="btn btn-primary"
                        (click)="edit(member.id)">EDIT</button>
                    <button *ngIf="member.role !== 'ADMIN'"
                        class="btn btn-danger"
                        (click)="delete(member)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="member-detail">
        <app-member-detail [inputMemberId]="editingMember?.id"></app-member-detail>
    </div>
</div>