<table class="table">
    <thead>
        <th>name</th>
        <th>gender</th>
        <th>age</th>
        <th>tel</th>
        <th>email</th>
        <th>role</th>
        <th *ngIf="memberRole === 'ADMIN'">operation</th>
    </thead>
    <tbody>
        <tr *ngFor="let member of allMembers">
            <td>{{ member.name }}</td>
            <td>{{ member.gender }}</td>
            <td>{{ member.age }}</td>
            <td>{{ member.tel }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.role }}</td>
            <td *ngIf="memberRole === 'ADMIN'">
                <button class="btn btn-primary" (click)="edit(member.id)">EDIT</button>
                <button *ngIf="member.role !== 'ADMIN'" class="btn btn-danger" (click)="delete(member)">DELETE</button>
            </td>
        </tr>
    </tbody>
</table>