<h1 id="title">REGISTER</h1>
<form [formGroup]="memberForm"
    (ngSubmit)="onSubmit()">
    <div>
        <label appRequiredField>{{"member_form.name" | translate}}</label>
        <input name="name"
            formControlName="name"
            class="form-control"
            type="text"
            autofocus />
    </div>
    <div>
        <label>{{"member_form.gender" | translate}}</label>
        <select name="gender"
            formControlName="gender"
            class="form-control">
            <option value="null"
                hidden
                selected></option>
            <option value="Male">{{"member_form.detail_gender.male" | translate}}</option>
            <option value="Female">{{"member_form.detail_gender.female" | translate}}</option>
        </select>
    </div>
    <div>
        <label appRequiredField>{{"member_form.age" | translate}}</label>
        <input name="age"
            formControlName="age"
            class="form-control"
            type="number" />
    </div>
    <div>
        <label>{{"member_form.tel" | translate}}</label>
        <input name="tel"
            formControlName="tel"
            class="form-control"
            type="tel" />
    </div>
    <div>
        <label appRequiredField>{{"member_form.email" | translate}}</label>
        <input name="email"
            formControlName="email"
            class="form-control"
            type="email" />
    </div>
    <div>
        <label appRequiredField>{{"member_form.password" | translate}}</label>
        <input name="password"
            formControlName="password"
            class="form-control"
            type="password" />
    </div>
    <div>
        <label appRequiredField>Retype {{"member_form.password" | translate}}</label>
        <input name="retypePassword"
            formControlName="retypePassword"
            class="form-control"
            type="password" />
    </div>
    <button class="btn btn-primary"
        type="submit">{{"button.register" | translate}}</button>
</form>