<form *ngIf="productForm && inputProduct"
    [formGroup]="productForm"
    class="product-form"
    (ngSubmit)="onSubmit()">
    <div>
        <input class="form-control"
            type="hidden"
            name="id"
            id="id"
            formControlName="id" />
    </div>
    <div>
        <label for="name">Name</label>
        <input class="form-control"
            type="text"
            name="name"
            id="name"
            formControlName="name" />
    </div>
    <div>
        <label for="price">Price</label>
        <input class="form-control"
            type="number"
            name="price"
            id="price"
            formControlName="price"
            appCurrencyTransform
            [active]="(productForm.get('price')?.touched?? false) && (productForm.get('price')?.valid?? false)" />
    </div>
    <div>
        <label for="image_url">Image</label>
        <input class="form-control"
            type="hidden"
            name="image_url"
            id="image_url"
            formControlName="image_url"/>
        <input class="form-control"
            type="file"
            id="imageHolder"
            formControlName="imageHolder"
            (change)="onFileSelected($event)" />
        <div *ngIf="uploadFile && previewFileUrl">
            <img [src]="previewFileUrl"
                width="300px"
                height="300px" />
            <h1 (click)="clearImage()">X</h1>
        </div>
    </div>
    <button class="btn btn-primary"
        *ngIf="product?.is_active && currentOperatorRole !=='CLIENT'"
        type="submit"
        [disabled]="productForm.invalid">Update</button>
    <button class="btn btn-danger"
        *ngIf="product?.is_active && currentOperatorRole !=='CLIENT'"
        type="submit"
        (click)="delete()">Delete</button>
</form>
<div *ngIf="!productForm || !inputProduct"
    class="choose-one-title">
    <h1>Chon mot product</h1>
</div>