.product-form{
    width: 300px;
    margin: auto;
    margin-left: 50%;

    label{
        margin-right: 10px;
    }

    button{
        width: 100%;
    }
}

.title{
    margin: auto;
    margin-left: 50%;
}

.warn-message{
    color: red;
}

.action{
    display: flex;
}