<h1 class="title">EDIT</h1>
<form *ngIf="productForm && inputProduct().id != ''"
    [formGroup]="productForm"
    class="product-form">
    <div class="input-group">
        <input class="form-control"
            type="hidden"
            name="id"
            id="id"
            formControlName="id"
            [(ngModel)]="product.id" />
    </div>
    <div>
        <label for="name"
            appRequiredField>{{"product_form.name" | translate}}</label>
        <input class="form-control"
            type="text"
            name="name"
            id="name"
            formControlName="name"
            appFisrtFieldAutoFocus
            [object]="inputProduct().id"
            [(ngModel)]="product.name" />
    </div>
    <div>
        <label for="price"
            appRequiredField>{{"product_form.price" | translate}}</label>
        <input class="form-control"
            #priceElement
            type="number"
            name="price"
            id="price"
            formControlName="price"
            appCurrencyTransform
            [activeProduct]="product" 
            [(ngModel)]="product.price"/>
    </div>
    <div>
        <label for="image_url">{{"product_form.image" | translate}}</label>
        <input class="form-control"
            type="hidden"
            name="image_url"
            id="image_url"
            formControlName="image_url" 
            [(ngModel)]="product.image_url"/>
        <input class="form-control"
            type="file"
            #fileInput
            id="imageHolder"
            (change)="onFileSelected($event)"
            style="display: none;" />
        <div style="display: flex;">
            <label for="imageHolder"
                for="imageHolder"
                class="btn btn-primary">{{"button.choose_image" | translate}}</label>
            <button class="btn btn-danger"
                type="button"
                *ngIf="previewFileUrl && uploadFile"
                (click)="clearImage()">{{"button.remove_image" | translate}}</button>
        </div>
        <div>
            <img [src]="previewFileUrl"
                width="300px"
                height="300px" />
        </div>
    </div>
    <div>
        <input id="is_discount_available"
            type="checkbox"
            formControlName="is_discount_available" />
        <label for="is_discount_available">{{"product_form.is_discount_available" | translate}}</label>
    </div>
    <div class="action dropdown"
        *ngIf="currentOperatorRole !== 'CLIENT'">
        <button class="btn btn-primary"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{"button.action" | translate}}
        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="button"
                    class="dropdown-item text-primary"
                    (click)="update()">
                    {{"button.update" | translate}}
                </button>
            </li>
            <li>
                <button type="button"
                    class="dropdown-item text-danger"
                    (click)="delete()">
                    {{"button.delete" | translate}}
                </button>
            </li>
        </ul>
    </div>
</form>